.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Quicksand bold';
  src: local('Quicksand'), url(/assets/fonts/quicksand-v24-latin-ext-700.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand semiBold';
  src: local('Quicksand'), url(/assets/fonts/quicksand-v24-latin-ext-600.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand medium';
  src: local('Quicksand'), url(/assets/fonts/quicksand-v24-latin-ext-500.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand regular';
  src: local('Quicksand'), url(/assets/fonts/quicksand-v24-latin-ext-regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand light';
  src: local('Quicksand'), url(/assets/fonts/quicksand-v24-latin-ext-300.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter bold';
  src: local('Inter'), url(/assets/fonts/inter-v3-latin-700.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter semiBold';
  src: local('Inter'), url(/assets/fonts/inter-v3-latin-600.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter medium';
  src: local('Inter'), url(/assets/fonts/inter-v3-latin-500.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter regular';
  src: local('Inter'), url(/assets/fonts/inter-v3-latin-regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter light';
  src: local('Inter'), url(/assets/fonts/inter-v3-latin-300.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Farsan';
  src: local('Farsan'), url(/assets/fonts/farsan-v8-latin-regular.woff) format('woff');
  font-display: swap;
}
